@import '../../node_modules/angular-material/angular-material.scss';
@import './md-fixes.scss';

body {
  background-color: #f9f9f9;
}

.content, .nav {
  background-color: #f9f9f9;
  width: 85%;
}

.content {
  overflow-y: auto;
  margin-right: 12px;
}

.content-wrapper {
  background-color: #90909f;
}

md-list-item.selected {
  background-color: #333;
  color: #f0f0f0;
}

.field-info, .enum-value-info {
  margin: 8px;
  padding: 8px;
}

.field-info .field-name {
  margin-bottom: 8px;
}

.fullheight {
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.indent {
  padding-left: 12px;
}
.indent-large {
  padding-left: 24px;
}

.argument-name {
  color: green;
  font-weight: bold;
}

input.bland {
  border: 0px none;
  background-color: transparent;
}

.fake-link {
  color: rgb(0,0,238);
  cursor: pointer;
  text-decoration: underline;
}

.query-string {
  white-space: pre;
}

.hidden {
  visibility: hidden;
}

.query-item-field {
  cursor: pointer;
  outline: none;
  padding-left: 8px;

  &:hover {
    background-color: #f3f3f3;
  }
}

.wide-input-container {
  width: 70%;
}

.medium-dialog {
  width: 50%;
}

.header h2 {
  margin: 20px;
}

.query-list, md-sidenav {
  min-width: 250px;
}

.type-info {
  min-width: 500px;
}

input {
  max-width: 100%;
}

.error-hint {
  color: #900;
}

.compact {
  margin: 0;
}

.list-element {
  margin: 8px 0;
}
