md-list.md-dense md-list-item, md-list.md-dense md-list-item .md-list-item-inner {
  min-height: 0px;
}

md-list.md-dense md-list-item::before, md-list.md-dense md-list-item .md-list-item-inner::before {
  min-height: 0px;
}

.md-dense > .md-button:not(.md-dense-disabled), .md-dense :not(.md-dense-disabled) .md-button:not(.md-dense-disabled) {
  min-height: 0px;
  line-height: 0;
}

md-checkbox.margin-fix {
  margin-bottom: 4px;
  margin-top: 4px;
}

md-input-container .md-errors-spacer {
  min-height: 0;
}
